
##ignore .DS_STORE
.DS_STORE

##ignore archive dir
uefi-task-translator-archive/

##ignore archive dir
x64-uefi-exploits/bggp4/self-rep-golf-archive/
arm64-uefi-exploits/hardcopy.0
arm64-uefi-exploits/screenlog.0
arm64-uefi-exploits/arm64_debug_log_*.txt
